/* Untuk mendukung scrollbar di perangkat mobile */
.scrollbar-show {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #a855f7 transparent;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #a855f7;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9333ea;
}

.custom-scrollbar::-webkit-scrollbar-button {
    background: transparent;
}